!!!
.header
  %h1
    %b
      %big RED
      %dfn PANTHERS
  %ul
    %li
      %a{:href => "shine.local:4567/"} Home
    %li
      %a{:href => "https://redpanthers.co/about/"} About
    %li
      %a{:href => "/https://redpanthers.co/processes"} Process
    %li
      %a{:href => "/https://redpanthers.co/processes"} Service
    %li
      %a{:href => "/https://redpanthers.co/processes"} Careers
    %li
      %a{:href => "/https://redpanthers.co/processes"} Blog
    %li
      %a{:href => "/https://redpanthers.co/processes"} Contact
.welcome
  .logo
    = image_tag "ruby.png"
  %h1
    WE SPECIALIZE IN HELPING OUR CLIENTS VALIDATE, BUILD AND EXPAND
    THEIR BUSINESS THROUGH TECHNOLOGY
  %p.doc
    = link_to "<b><big>Start</big> a <dfn>Project</dfn></b>", "startproject.html", target: "_blank"
.content
  %h2 What We Do
  %p "Tell us what you need and the rest will be taken care of."
  %p Red Panthers is a Ruby on Rails development studio, based in the beautiful city of Cochin (known as the queen of Arabian Sea), India. We work with our clients hand-crafting applications that turns their ideas into profitable and effective businesses. Over the years we have worked with clients ranging from single person startup to MNC that have over 10,000 employees. Got a business/idea in your hand? Do you lack technological support? Unsure about how to implement your ideas? We, the Red panthers, is here to help you materialize your ideas.
