!!!
.header
  %h1
    %b
      %big RED
      %dfn PANTHERS
  %ul
    %li
      %a{:href => "shine.local:4567/"} Home
    %li
      %a{:href => "https://redpanthers.co/about/"} About
    %li
      %a{:href => "/https://redpanthers.co/processes"} Process
    %li
      %a{:href => "/https://redpanthers.co/processes"} Service
    %li
      %a{:href => "/https://redpanthers.co/processes"} Careers
    %li
      %a{:href => "/https://redpanthers.co/processes"} Blog
    %li
      %a{:href => "/https://redpanthers.co/processes"} Contact
.welcome
  .logo
    = image_tag "ruby.png"
.project_form
  %h2 Start Your Dream Project With Us    
